<body>
  <div class="MainPageBodyForm">
    <div class="VisualHeaderBox">
      <div class="FormCard">
        <div class="Retangle">
          <h1>Salve uma memória</h1>
        </div>
        <div class="CityData">
          <div class="CityBox">
            <h3>Adicione uma foto</h3>
            <input
              #inputPhotoUpload
              type="file"
              class="PhotoRetangle"
              id="memory"
              name="memory"
              [(ngModel)]="memory.photo"
              hidden="true"
            />
            <button
              class="upload-photo-button"
              (click)="inputPhotoUpload.click()"
            >
              Foto
            </button>
          </div>
          <div class="CityBox">
            <h3>Descrição da memória</h3>
            <input
              type="textarea"
              placeholder="Conte como foi feita essa incrível memória"
              class="CityDescritpionRetangle"
              id="description"
              name="description"
              [(ngModel)]="memory.description"
            />
          </div>
          <div class="VisualButtonBox">
            <button class="SubmitButton" (click)="cancel()">Cancelar</button>
            <button class="send-button" (click)="createMemory()">salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
