.card {
	width: 19rem;
	margin-bottom: 2rem;
	border-radius: 1.25rem;
	overflow: hidden;
	background: #ffffff;
	border: 1.17814px solid #dce2e6;


}

.CardImageBox {
	height: 13.125rem;
}

.card h3 {
	margin: 0;
	margin-bottom: 0.4rem;
	color: #123952;
	font-family: "Barlow";
	font-style: normal;
	font-weight: 600;

}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
}

.CardTextBox {
  max-height: fit-content;
  padding: 1.6rem 1.6rem 1.6rem 1.7rem;
  word-wrap: break-word;
  border-top: 1.17814px solid #dce2e6;
}

.CardTextBox button {
  position: inherit;
  padding: 0.2rem 1.2rem;
  border: 0;

  background: #115d8c;
  border-radius: 10px;

  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;


  text-align: right;

  color: #ffffff;

  width: 2px;
  display: flex;
  justify-content: center;
}

.card p {
	margin: 0;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 15.2151px;
	line-height: 25px;

	color: #617480;
}

.img {
	max-height: 100%;
}

img{
  max-height: 235px;
}
